
@{
    Layout = null;
}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700%7CMontserrat:300,400,500,600,700%7CMerriweather:300,400,300i,400i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/swiper.css" type="text/css" />

    <!-- shop Demo Specific Stylesheet -->
    <link rel="stylesheet" href="~/Content/demos/shop/shop.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/demos/shop/css/fonts.css" type="text/css" />
    <!-- / -->

    <link rel="stylesheet" href="~/Content/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/Content/css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="~/Content/css/colors.php?color=000000" type="text/css" />

    <!-- Document Title
    ============================================= -->
    <title>Shop Demo | Canvas</title>

</head>

<body class="stretched">
    
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <div class="modal-on-load" data-target="#myModal1"></div>

        <!-- On LOad Modal -->
        <div class="modal1 mfp-hide subscribe-widget divcenter" id="myModal1" style="max-width: 750px;">
            <div class="row justify-content-center bg-white align-items-center" style="min-height: 380px;">
                <div class="col-md-5 p-0">
                    <div style="background: url('@Url.Content("~/Content")/images/modals/modal1.jpg') no-repeat center right; background-size: cover;  min-height: 380px;"></div>
                </div>
                <div class="col-md-7 bg-white p-4">
                    <div class="heading-block nobottomborder mb-3">
                        <h3 class="font-secondary nott ">Join Our Newsletter &amp; Get <span class="text-danger">40%</span> Off your First Order</h3>
                        <span>Get Latest Fashion Updates &amp; Offers</span>
                    </div>
                    <div class="widget-subscribe-form-result"></div>
                    <form class="widget-subscribe-form2 mb-2" action="~/Content/include/subscribe.php" method="post">
                        <input type="email" id="widget-subscribe-form2-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email Address..">
                        <div class="d-flex justify-content-between align-items-center mt-1">
                            <button class="button button-dark  bg-dark text-white ml-0" type="submit">Subscribe</button>
                            <a href="#" class="btn-link" onClick="$.magnificPopup.close();return false;">Don't Show me</a>
                        </div>
                    </form>
                    <small class="nobottommargin font-italic text-black-50">*We also hate Spam &amp; Junk Emails.</small>
                </div>
            </div>
        </div>

        <!-- Login Modal -->
        <div class="modal1 mfp-hide" id="modal-register">
            <div class="card divcenter" style="max-width: 540px;">
                <div class="card-header py-3 nobg center">
                    <h3 class="mb-0 t400">Hello, Welcome Back</h3>
                </div>
                <div class="card-body divcenter py-5" style="max-width: 70%;">

                    <a href="#" class="button button-large btn-block si-colored si-facebook nott t400 ls0 center nomargin"><i class="icon-facebook-sign"></i> Log in with Facebook</a>

                    <div class="divider divider-center"><span class="position-relative" style="top: -2px">OR</span></div>

                    <form id="login-form" name="login-form" class="nobottommargin row" action="#" method="post">

                        <div class="col-12">
                            <input type="text" id="login-form-username" name="login-form-username" value="" class="form-control not-dark" placeholder="Username" />
                        </div>

                        <div class="col-12 mt-4">
                            <input type="password" id="login-form-password" name="login-form-password" value="" class="form-control not-dark" placeholder="Password" />
                        </div>

                        <div class="col-12">
                            <a href="#" class="fright text-dark t300 mt-2">Forgot Password?</a>
                        </div>

                        <div class="col-12 mt-4">
                            <button class="button btn-block nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer py-4 center">
                    <p class="mb-0">Don't have an account? <a href="#"><u>Sign up</u></a></p>
                </div>
            </div>
        </div>

        <!-- Top Bar
    ============================================= -->
        <div id="top-bar" class="dark" style="background-color: #a3a5a7;">

            <div class="container clearfix">

                <div class="row justify-content-between">

                    <div class="col-lg-5 nobottommargin">

                        <p class="nobottommargin d-flex justify-content-center justify-content-lg-start"><strong>Free U.S. Shipping on Order above $99. Easy Returns.</strong></p>

                    </div>

                    <div class="col-lg-7 d-none d-lg-flex justify-content-end">

                        <!-- Top Links
                    ============================================= -->
                        <div class="top-links">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">FAQS</a></li>
                                <li><a href="#">Blogs</a></li>
                                <li>
                                    <a href="#">EN</a>
                                    <ul>
                                        <li><a href="#"><img src="~/Content/images/icons/flags/french.png" alt="French"> FR</a></li>
                                        <li><a href="#"><img src="~/Content/images/icons/flags/italian.png" alt="Italian"> IT</a></li>
                                        <li><a href="#"><img src="~/Content/images/icons/flags/german.png" alt="German"> DE</a></li>
                                    </ul>
                                </li>
                                <li></li>
                            </ul>
                        </div><!-- .top-links end -->
                        <!-- Top Social
                    ============================================= -->
                        <div id="top-social">
                            <ul>
                                <li><a href="#" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                                <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
                                <li><a href="tel:+91.11.85412542" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+91.11.85412542</span></a></li>
                                <li><a href="mailto:info@canvas.com" class="si-email3"><span class="ts-icon"><i class="icon-envelope-alt"></i></span><span class="ts-text">info@canvas.com</span></a></li>
                            </ul>
                        </div><!-- #top-social end -->

                    </div>
                </div>

            </div>

        </div>

        <!-- Header
    ============================================= -->
        <header id="header" class="full-header clearfix">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                ============================================= -->
                    <div id="logo">
                        <a href="index.html" class="standard-logo"><img src="~/Content/demos/shop/images/logo.png" alt="Canvas Logo"></a>
                        <a href="index.html" class="retina-logo"><img src="~/Content/demos/shop/images/logo@2x.png" alt="Canvas Logo"></a>
                    </div><!-- #logo end -->
                    <!-- Primary Navigation
                ============================================= -->
                    <nav id="primary-menu" class="style-2 with-arrows">

                        <ul>
                            <li class="current"><a href="#"><div>Home</div></a></li>
                            <!-- Mega Menu
                        ============================================= -->
                            <li class="mega-menu">
                                <a href="#"><div>Men</div></a>
                                <div class="mega-menu-content style-2 clearfix">
                                    <ul class="mega-menu-column border-left-0 col-lg-3">
                                        <li class="mega-menu-title">
                                            <a href="#"><div>Footwear</div></a>
                                            <ul>
                                                <li><a href="#"><div>Casual Shoes</div></a></li>
                                                <li><a href="#"><div>Formal Shoes</div></a></li>
                                                <li><a href="#"><div>Sports shoes</div></a></li>
                                                <li><a href="#"><div>Flip Flops</div></a></li>
                                                <li><a href="#"><div>Slippers</div></a></li>
                                                <li><a href="#"><div>Sandals</div></a></li>
                                                <li><a href="#"><div>Show all <i class="icon-angle-right"></i></div></a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-title">
                                            <a href="#"><div>Clothing</div></a>
                                            <ul>
                                                <li><a href="#"><div>Casual Shirts</div></a></li>
                                                <li><a href="#"><div>T-Shirts</div></a></li>
                                                <li><a href="#"><div>Collared Tees</div></a></li>
                                                <li><a href="#"><div>Pants / Trousers</div></a></li>
                                                <li><a href="#"><div>Show all <i class="icon-angle-right"></i></div></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="mega-menu-column border-left-0 col-lg-3">
                                        <li class="mega-menu-title">
                                            <a href="#"><div>Sportswear</div></a>
                                            <ul>
                                                <li><a href="#"><div>Sports Casual Shirts</div></a></li>
                                                <li><a href="#"><div>Sports T-Shirts</div></a></li>
                                                <li><a href="#"><div>Sports Collared Tees</div></a></li>
                                                <li><a href="#"><div>Sports Shoes</div></a></li>
                                                <li><a href="#"><div>Jackets</div></a></li>
                                                <li><a href="#"><div>Swimwears</div></a></li>
                                                <li><a href="#"><div>Show all <i class="icon-angle-right"></i></div></a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-title">
                                            <a href="#"><div>Innerwears</div></a>
                                            <ul>
                                                <li><a href="#"><div>Boxers</div></a></li>
                                                <li><a href="#"><div>Vests</div></a></li>
                                                <li><a href="#"><div>Sleepwears</div></a></li>
                                                <li><a href="#"><div>Show all <i class="icon-angle-right"></i></div></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="mega-menu-column border-left-0 col-lg-3">
                                        <li class="mega-menu-title">
                                            <a href="#"><div>Innerwears</div></a>
                                            <ul>
                                                <li><a href="#"><div>Boxers</div></a></li>
                                                <li><a href="#"><div>Vests</div></a></li>
                                                <li><a href="#"><div>Sleepwears</div></a></li>
                                                <li><a href="#"><div>Show all <i class="icon-angle-right"></i></div></a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-title"><a href="#"><div>Sunglasses</div></a>
                                        <li class="mega-menu-title"><a href="#"><div>Watches</div></a>
                                        <li class="mega-menu-title"><a href="#"><div>Bags</div></a>
                                        <li class="mega-menu-title"><a href="#"><div>Headphones</div></a>
                                        <li class="mega-menu-title"><a href="#"><div>Accessories</div></a>
                                    </ul>
                                    <ul class="mega-menu-column col-lg-3 border-left-0">
                                        <li class="card p-0 nobg noborder">
                                            <img class="card-img-top" src="demos/shop/images/menu-image.jpg" alt="image cap">
                                            <a href="#" class="btn btn-link text-left t500 pl-0 nobg"><u>Editor's Pick</u></a>
                                        </li>
                                    </ul>
                                </div>
                            </li><!-- .mega-menu end -->
                            <li>
                                <a href="#"><div>Women</div></a>
                                <div class="mega-menu-content style-2 clearfix">
                                    <ul class="mega-menu-column col-lg-6">
                                        <li class="mega-menu-title">
                                            <a href="#"><div>Footwear</div></a>
                                            <ul>
                                                <li><a href="#"><div>Casual Shoes</div></a></li>
                                                <li><a href="#"><div>Formal Shoes</div></a></li>
                                                <li><a href="#"><div>Sports shoes</div></a></li>
                                                <li><a href="#"><div>Flip Flops</div></a></li>
                                                <li><a href="#"><div>Slippers</div></a></li>
                                                <li><a href="#"><div>Sandals</div></a></li>
                                                <li><a href="#"><div>Party Shoes</div></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="mega-menu-column col-lg-6">
                                        <li class="mega-menu-title">
                                            <a href="#"><div>Clothing</div></a>
                                            <ul>
                                                <li><a href="#"><div>Casual Shirts</div></a></li>
                                                <li><a href="#"><div>T-Shirts</div></a></li>
                                                <li><a href="#"><div>Collared Tees</div></a></li>
                                                <li><a href="#"><div>Pants / Trousers</div></a></li>
                                                <li><a href="#"><div>Ethnic Wear</div></a></li>
                                                <li><a href="#"><div>Jeans</div></a></li>
                                                <li><a href="#"><div>Swimwear</div></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li><!-- .mega-menu end -->
                            <li><a href="#"><div>Accessories</div></a></li>
                            <li><a href="#"><div>Blog</div></a></li>
                            <li><a href="#"><div>Sales</div></a></li>
                        </ul>

                        <!-- Top Search
                    ============================================= -->
                        <div id="top-search">
                            <a href="#" id="top-search-trigger"><i class="icon-line-search"></i><i class="icon-line-cross"></i></a>
                            <form action="search.html" method="get">
                                <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                            </form>
                        </div><!-- #top-search end -->
                        <!-- Top Cart
                    ============================================= -->
                        <div id="top-cart">
                            <a href="#" id="top-cart-trigger"><i class="icon-line-bag"></i><span>5</span></a>
                            <div class="top-cart-content">
                                <div class="top-cart-title">
                                    <h4>Shopping Cart</h4>
                                </div>
                                <div class="top-cart-items">
                                    <div class="top-cart-item clearfix">
                                        <div class="top-cart-item-image">
                                            <a href="#"><img src="demos/shop/images/items/featured/5.jpg" alt="Blue Shoulder Bag" /></a>
                                        </div>
                                        <div class="top-cart-item-desc">
                                            <a href="#" class="t400">White athletic shoe</a>
                                            <span class="top-cart-item-price">$35.00</span>
                                            <span class="top-cart-item-quantity t600">x 1</span>
                                        </div>
                                    </div>
                                    <div class="top-cart-item clearfix">
                                        <div class="top-cart-item-image">
                                            <a href="#" class="t400"><img src="demos/shop/images/items/featured/1.jpg" alt="Leather Bag" /></a>
                                        </div>
                                        <div class="top-cart-item-desc">
                                            <a href="#" class="t400">Round Neck Solid Light Blue Colour T-shirts</a>
                                            <span class="top-cart-item-price">$12.49</span>
                                            <span class="top-cart-item-quantity t600">x 2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="top-cart-action clearfix">
                                    <span class="fleft top-checkout-price t600 text-dark">$59.98</span>
                                    <button class="button button-dark button-small nomargin fright">View Cart</button>
                                </div>
                            </div>
                        </div><!-- #top-cart end -->
                        <!-- Top Search
                    ============================================= -->
                        <div id="top-account">
                            <a href="#modal-register" data-lightbox="inline"><i class="icon-line2-user mr-1 position-relative" style="top: 1px;"></i><span class="d-none d-sm-inline-block font-primary t500">Login</span></a>
                        </div><!-- #top-search end -->

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->
        @RenderBody()

        <!-- Footer
    ============================================= -->
        <footer id="footer" class="nobg noborder">

            <div class="container clearfix">

                <!-- Footer Widgets
            ============================================= -->
                <div class="footer-widgets-wrap pb-3 border-bottom clearfix">

                    <div class="row">

                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="widget clearfix">

                                <h4 class="ls0 mb-3 nott">Features</h4>

                                <ul class="list-unstyled iconlist ml-0">
                                    <li><a href="#">Help Center</a></li>
                                    <li><a href="#">Paid with Moblie</a></li>
                                    <li><a href="#">Status</a></li>
                                    <li><a href="#">Changelog</a></li>
                                    <li><a href="#">Contact Support</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="widget clearfix">

                                <h4 class="ls0 mb-3 nott">Support</h4>

                                <ul class="list-unstyled iconlist ml-0">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="widget clearfix">

                                <h4 class="ls0 mb-3 nott">Trending</h4>

                                <ul class="list-unstyled iconlist ml-0">
                                    <li><a href="#">Shop</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Events</a></li>
                                    <li><a href="#">Forums</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="widget clearfix">

                                <h4 class="ls0 mb-3 nott">Get to Know us</h4>

                                <ul class="list-unstyled iconlist ml-0">
                                    <li><a href="#">Corporate</a></li>
                                    <li><a href="#">Agency</a></li>
                                    <li><a href="#">eCommerce</a></li>
                                    <li><a href="#">Personal</a></li>
                                    <li><a href="#">OnePage</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <div class="widget clearfix">

                                <h4 class="ls0 mb-3 nott">Subscribe Now</h4>
                                <div class="widget subscribe-widget mt-2 clearfix">
                                    <p class="mb-4"><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</p>
                                    <div class="widget-subscribe-form-result"></div>
                                    <form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mt-1 nobottommargin d-flex">
                                        <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control sm-form-control required email" placeholder="Enter your Email Address">

                                        <button class="button nott t400 ml-1 my-0" type="submit">Subscribe Now</button>
                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>

                </div><!-- .footer-widgets-wrap end -->

            </div>

            <!-- Copyrights
        ============================================= -->
            <div id="copyrights" class="nobg">

                <div class="container clearfix">

                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-6">
                            Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
                            <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                        </div>

                        <div class="col-md-6 d-md-flex flex-md-column align-items-md-end mt-4 mt-md-0">
                            <div class="copyrights-menu copyright-links clearfix">
                                <a href="#">About</a>/<a href="#">Features</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-line-arrow-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="~/Content/js/functions.js"></script>

    <!-- ADD-ONS JS FILES -->
    <script>

    </script>

</body>
</html>
